.input {
  display: grid;
  grid-template-areas: 
    "label label"
    "input input"
    "minusButton plusButton";
  background-color: lightblue;
  margin: 10px;
}

.input__label {
  grid-area: label;
  text-align: center;
}

.input__input--text {
  grid-area: input;
  width: 50%;
  font-size: 2rem;
  justify-self: center;
  text-align: center;
}

.input__input--slider {
  grid-area: input;
}

.input__button {
  font-size: 2rem;
}

.input__button--minus {
  grid-area: minusButton;
}

.input__button--plus {
  grid-area: plusButton;
}

.input__container {
  display: grid;
  grid-template-areas: 
    "whole whole" 
    "num den";
}

.input--wholeNum {
  grid-area: whole;
}

.input--numerator {
  grid-area: num;
}

.input--denominator {
  grid-area: den;
}

.output {
  font-size: 2rem;
  text-align: center;
}