.input_mono {
  display: grid;
  grid-template-areas: 
    "label label"
    "input input"
    "minusButton plusButton";
  background-color: lightcoral;
  margin: 10px;
}

.input_mono__label {
  grid-area: label;
  text-align: center;
}

.input_mono__input--text {
  grid-area: input;
  width: 50%;
  font-size: 2rem;
  justify-self: center;
  text-align: center;
}

.input_mono__input--slider {
  grid-area: input;
}

.input_mono__button {
  font-size: 2rem;
}

.input_mono__button--minus {
  grid-area: minusButton;
}

.input_mono__button--plus {
  grid-area: plusButton;
}

.output {
  font-size: 3rem;
  text-align: center;
}